.coalition {
  background-color: @grey;
}

.coalition-logos {
  align-items: baseline;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
  max-width: 70rem;

  img {
    box-sizing: content-box;
    height: auto;
    max-height: 12rem;
    max-width: 30rem;
    padding: 2rem;
    width: auto;
  }
}

.participate {
  figure {
    margin: 3rem auto;

    @media screen and (min-width: @small-phone) {
      display: flex;
      flex-wrap: wrap;
      font-size: 2rem;
      justify-content: space-between;
      text-align: right;
    }
  }

  figcaption {
    font-weight: 600;

    @media screen and (min-width: @small-phone) {
      order:0;
    }
  }

  a[download] {
    color: @blue-400;
    font-variant: small-caps;
    font-weight: 600;
    margin-bottom: 1rem;
    text-transform: lowercase;
  }

  img {
    width: 100%;
  }
}

.participants {
  text-align: left;

  h2, p {
    text-align: center;
  }
}
