---
---

<p>
The FBI wants to force Apple to weaken the security measures that keep all of us safe. This is misguided, and dangerous. On <time datetime="2016-03-22">March 22</time>, when Apple goes to court, we&rsquo;ll display thousands of statements from Internet users outside the courthouse.</p>
<p><strong>Add your voice. Sign below to say, "Save security! I oppose the FBI order."</strong>
</p>

{% include form.html %}

{% comment %}
<article class="coalition">
  <h2 id="we-stand-together">We stand together</h2>
  <p>These companies and individuals are taking a stand with us to oppose backdoors into the products and devices we depend on.</p>
  <section class="coalition-logos">
    {% for member in site.data.coalition %}
    <img src="{{ member.image }}" alt="{{ member.name }}">
    {% endfor %}
  </section>
</article>
{% endcomment %}

<article class="participate">
  <h2 id="join-our-movement">Here's the plan</h2>
  <p>The FBI wants the power to use a 200+ year-old law to force tech companies to undermine the security of their customers. We <em>must</em> make sure the judges looking at this case understand the technology and what’s at stake, and that they know the public <a href="http://in.reuters.com/article/us-apple-encryption-poll-idINKCN0VX159">opposes</a> the FBI’s plan. So we’ll be gathering outside the courthouse on Apple’s day in court, displaying comments from Internet users everywhere. Want to help? Submit a comment, and change your profile image or add our banner code to your site. If you’re in the Los Angeles area, <a href="mailto:team@fightforthefuture.org">be in touch</a> and meet us at the <a href="https://www.google.com/maps/place/US+District+Court/@33.9772736,-117.3766075,17z/">US District Court</a>.</p>

  <figure id="cover-photo">
    <figcaption>Cover photo</figcaption>
    <a href="/images/downloads/cover-photo.jpg" download="cover-photo.jpg">Get the image</a>
    <a href="/images/downloads/cover-photo.jpg" download="cover-photo.jpg">
      <img src="/images/downloads/cover-photo-thumbnail.jpg" alt="Cover photo image" width="420" height="158">
    </a>
  </figure>

  <figure id="profile-picture">
    <figcaption>Profile picture</figcaption>
    <a href="/images/downloads/profile-picture.jpg" download="profile-picture.jpg">Get the picture</a>
    <a href="/images/downloads/profile-picture.jpg" download="profile-picture.jpg">
      <img src="/images/downloads/profile-picture-thumbnail.jpg" alt="Profile picture image" width="420" height="420">
    </a>
  </figure>

  <figure id="website-banner">
    <figcaption>Website banner</figcaption>
    <a href="/?ALWAYS_SHOW_SC_BANNER=true" class="demo">See a demo</a>
    <p>Add this code to your page to show a banner on top:</p>
    <blockquote>&lt;script src="//savethelock.org/banner.js" async>&lt;/script></blockquote>
    <a href="/images/downloads/website-banner.jpg">
      <img src="/images/downloads/website-banner-thumbnail.jpg" alt="Website banner image" width="433" height="306">
    </a>
  </figure>
</article>

<article>
  <h2 id="why-this-matters">What's at stake</h2>
  <p>In its attacks on Apple, the FBI is seeking a legal precedent that would let them force <em>any</em>company to weaken the security of its products. Engineers use consumer products like the iPhone to maintain the most sensitive systems on the planet. Hospitals. Air traffic control. Nuclear power. What the FBI is asking for puts lives at risk, by undermining security everywhere.</p>
  <div class="video">
    <iframe width="1280" height="720" src="https://www.youtube-nocookie.com/embed/zsjZ2r9Ygzw?rel=0" frameborder="0" allowfullscreen></iframe>
  </div>
</article>

{% comment %}
Uncomment this section when we are ready to show off participants.
{% include participants.html %}
{% endcomment %}

{% include share.html %}
