---
---

<p>
The FBI wants to force Apple to weaken the security measures that keep all of us safe. This is misguided, and dangerous. On <time datetime="2016-03-22">March 22</time>, when Apple goes to court, we&rsquo;ll display thousands of statements from Internet users outside the courthouse. <strong>To join us, sign on in support, and proudly display a lock on your social media page or website.</strong>
</p>

{% include form.html %}

{% comment %}
<article class="coalition">
  <h2 id="we-stand-together">We stand together</h2>
  <p>These companies and individuals are taking a stand with us to oppose backdoors into the products and devices we depend on.</p>
  <section class="coalition-logos">
    {% for member in site.data.coalition %}
    <img src="{{ member.image }}" alt="{{ member.name }}">
    {% endfor %}
  </section>
</article>
{% endcomment %}

<article>
  <h2 id="why-this-matters">Why this matters</h2>
  <p>As usual, HBO&rsquo;s John Oliver explains this complex issue perfectly. If you&rsquo;re not sure why this matters so much, watch the video.</p>
  <div class="video">
    <iframe width="1280" height="720" src="https://www.youtube-nocookie.com/embed/zsjZ2r9Ygzw?rel=0" frameborder="0" allowfullscreen></iframe>
  </div>
</article>

<article class="participate">
  <h2 id="join-our-movement">Here's the plan</h2>
  <p>The FBI is trying to use a 200+ year-old law to get a backdoor to the iPhone, after both Congress and the White House decided this was a terrible idea. We <em>must</em> make sure the judges looking at this case understand the technology and what’s at stake, and that they know the public <a href="http://in.reuters.com/article/us-apple-encryption-poll-idINKCN0VX159">overwhelmingly opposes</a> the FBI’s plan. So we’ll be gathering outside the courthouse on Apple’s day in court, displaying comments from Internet users everywhere. Want to help? Submit a comment, and change your profile image or add our banner code to your site. If you’re in the Los Angeles area, <a href="mailto:team@fightforthefuture.org">be in touch</a> and meet us at the <a href="https://www.google.com/maps/dir/''/3470+12th+St,+Riverside,+CA+92501/@33.976432,-117.4444689,12z/data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0x80dcb1e8bbf43b2d:0xe773838c08870e8e!2m2!1d-117.3744288!2d33.9764518">courthouse</a>.</p>

  <figure id="cover-photo">
    <figcaption>Cover photo</figcaption>
    <a href="/images/downloads/cover-photo.jpg" download="cover-photo.jpg">Get the image</a>
    <a href="/images/downloads/cover-photo.jpg" download="cover-photo.jpg">
      <img src="/images/downloads/cover-photo-thumbnail.jpg" alt="Cover photo image">
    </a>
  </figure>

  <figure id="profile-picture">
    <figcaption>Profile picture</figcaption>
    <a href="/images/downloads/profile-picture.jpg" download="profile-picture.jpg">Get the picture</a>
    <a href="/images/downloads/profile-picture.jpg" download="profile-picture.jpg">
      <img src="/images/downloads/profile-picture-thumbnail.jpg" alt="Profile picture image">
    </a>
  </figure>

  <figure id="website-banner">
    <figcaption>Website banner</figcaption>
    <a href="/images/downloads/website-banner.jpg" download="website-banner.jpg">Get the picture</a>
    <a href="/images/downloads/website-banner.jpg" download="website-banner.jpg">
      <img src="/images/downloads/website-banner-thumbnail.jpg" alt="Website banner image">
    </a>
  </figure>
</article>

{% comment %}
Uncomment this section when we are ready to show off participants.
{% include participants.html %}
{% endcomment %}

{% include share.html %}
